.imgAnnotation {
    margin: 10px;
    height: 500px;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.imgcard {
    object-fit: contain !important;
}

.imgwithlinks {
    max-height: 200px;
    max-width: 100%;
    width: auto;
}