.imgAnnotation {
    margin: 10px;
    height: 600px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.imgwithlinks {
    max-height: 200px;
    max-width: 100%;
    width: auto;
}